.top{
  display: flex;
  justify-content: space-between;
}
.main-ventra{
  display: flex;
  justify-content: center;
  align-items: center;
}
 nav{
  background-color: white;
 }
 .nav{
   display: flex;
   justify-content: flex-end;
   align-items: center; 
 }
 .nav li{
  height: 50px;
  list-style: none; 
 }
 .nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #0d293d;
 }
 .nav a:hover{
  background-color: #f0f0f0;
 }
 .nav img{
      justify-content: left;
 }

 a {
  text-decoration: none;
  color: #0d293d;
}

.sidenav {
  position: fixed;
  top: 0;
  right: 0;
  height: 50vh;
  width: 250px;
  z-index: 999;
  background-color: white;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* padding: 10px 0px; */
}
.sidenav li {
  list-style: none;
  width: 100%;
  padding: 10px;
}
.sidenav li:hover{
    background-color: #2fa0ed;
}
.menu-button{
  display: none;
}
