/* review section */
@media (max-width: 900px) {
            .review-grid {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @media (max-width: 550px) {
            #reviews {
                padding: 30px 18px 25px;
            }

            .review-grid {
                grid-template-columns: 1fr;
                gap: 20px;
            }

            .review-card {
                min-height: 160px;
            }

            .heading h2 {
                font-size: 17px;
            }
            .cta-card{
                font-size: 20px;
            }
        }
        
/* faq section */
@media (max-width: 600px) {

    .faq-section {
        padding: 0 15px;
    }

    .faq-section h2 {
        font-size: 23px;
    }

    .faq-tabs {
        gap: 8px;
    }

    .tab {
        font-size: 11px;
    }

    .faq-question {
        padding-right: 15px;
    }

    .faq-number {
        margin-right: 12px;
    }

    .faq-icon {
        width: 35px;
        height: 35px;
        min-width: 35px;
        font-size: 25px;
    }

    .faq-answer p {
        padding: 0 20px 20px 58px;
    }
}